doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/vendor/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		header.container.fixed-top
			nav.navbar.navbar-default
				.container-fluid
					ul.navbar.border
						if navList
							each item in navList
								li
									a(href=item.link) #{item.title}
						if (!user)
							li
								a(href='/auth/signUp') Sing up
							li
								a(href='/auth/signIn') Sing in
						if (user)
							li
								a(href='/auth/profile') Profile
							li
								a(href='/auth/logout') Logout


		.container
			.content
				if messages.error
					.alert.alert-danger
						div= messages.error
				if messages.info
					.alert.alert-info
						div= messages.info
				if messages.success
					.alert.alert-success
						div= messages.success
				block content
		script(src='/vendor/jquery.js')
		script(src='/vendor/bootstrap.js')
